.card {
  border: 2px solid #2a2a2a;
  border-radius: 5px;
  margin: 0;
  max-width: 400px;
}

.profile {
  padding: 20px 0;
}

.profile img {
  background-color: #2a2a2a;
  max-width: 50%;
  border-radius: 50%;
}

.profile p {
  color: #767676;
  font-size: x-large;
}

.profile p:first-of-type {
  font-weight: 600;
  font-size: xx-large;
  color: #333;
  font-weight: bold;
  padding: 10px 0;
}

.stats {
  display: flex;
  background-color: #d2d2d1;
  border-radius: 0px 0px 3px 3px;
  border-top: 2px solid #767676;
  box-sizing: border-box;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc(100% / 3);
  border-right: 2px solid #767676;
  padding: 10px;
  box-sizing: border-box;

  font-size: x-large;
  color: #2a2a2a;
}

.stats li span:nth-child(2) {
  font-weight: bold;
}

.stats li:last-child {
  border-right: none;
}
